<div class="container">
    <a href="#" class="logo">LOGO</a>
    <nav class="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
</div>


<!--
<nav>
    <ul>
        <img src="{{ url_for('static', filename='image/logo_platzi_flask.webp')}}" alt="Logo de platzi curso flask">
        <li><a href="{{ url_for('index') }}">Ir a inicio</a></li>
        <li><a href="https://www.platzi.com">Ir a platzi</a></li>
    </ul>
</nav>
-->